@model MingweiSamuel.Camille.SummonerV4.Summoner

<h2>@Model.Name's Details</h2>

<ul>
    <li><strong>Summoner ID:</strong> @Model.Id</li>
    <li><strong>Account ID:</strong> @Model.AccountId</li>
    <li><strong>Profile Icon ID:</strong> @Model.ProfileIconId</li>
    <li><strong>Summoner Level:</strong> @Model.SummonerLevel</li>
</ul>

<a href="@Url.Action("Index", "Home")">Back to Home</a>
